div.toolbar-actions div.form-group {
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}
input#source {
  width: 200px;
  margin-right: 5px;
}
input#encoded {
  width: 300px;
  margin-right: 5px;
}
select#kind {
  width: 200px;
  margin-right: 5px;
}
button#clear-record {
  margin-right: 5px;
}
button#save-record {
  margin-right: 5px;
}
input#filter {
  width: 300px;
}
li.list-group-item:hover {
  background-color: #99ccff;
}
li.list-group-item:active {
  background-color: #3399ff;
}
th.tbl-source {
  width: 200px;
}
th.tbl-encoded {
  width: 300px;
}
table.table-striped tbody tr:hover {
  background-color: #99ccff;
}
